@{
    ViewData["Title"] = "Home Page";
}
@model MyPortfolio.Domain.Models.ViewModels.UserInfoViewModel

@if (Model.UserDTO != null)
{
    <!-- Hero Section -->
    <section id="hero" class="hero section dark-background">

        <img src="@Url.Content("~/images/baner.png")" alt="" data-aos="fade-in" class="">

        <div class="container" data-aos="fade-up" data-aos-delay="100">
            <h2>@string.Concat(Model.UserDTO.FirstName, " ", Model.UserDTO.LastName)</h2>
            <p>I'm <span class="typed" data-typed-items="Software Engineer, Tech Mentor, Tech Speaker, Digital Builder">Software Engineer</span><span class="typed-cursor typed-cursor--blink" aria-hidden="true"></span><span class="typed-cursor typed-cursor--blink" aria-hidden="true"></span></p>
            <p class="vision">
                Driving IT innovation in Guinea and promoting Education, Art & Culture.
            </p>
            <div class="hero-buttons">
                <a asp-controller="Resume" asp-action="Details" asp-active-by="Index" asp-active-type="action" class="btn-main">Discover My Journey</a>
                <a asp-controller="Projects" asp-action="Index" asp-active-by="Index" asp-active-type="action" class="btn-outline">See My Projects</a>
            </div>
        </div>

    </section>

    <!-- /Hero Section -->
}